[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 14.0
[submodule "tecnomedia"]
	path = tecnomedia
	url = git@git.vauxoo.com:vauxoo/tecnomedia.git
	branch = 14.0
